extends layout.pug

mixin measurement_menu_element(measurement, actual, text)
    if measurement == actual
        li(role="presentation" class="active")
            a(href="../../device/" + device_id + "/" + measurement)= text
    else
        li(role="presentation")
            a(href="../../device/" + device_id + "/" + measurement)= text



block append styles
    link(rel="stylesheet" href="/bower_components/dygraphs/css/dygraph.css")
    link(rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css")

block append scripts
    script(type="text/javascript" src="/bower_components/dygraphs/dist/dygraph.min.js")
    script(src="/socket.io/socket.io.js")
    script(type="text/javascript" src="/bower_components/moment/min/moment.min.js")
    script(type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")

block content
    script(src="/javascripts/get_device_data.js")
    script.
        $(document).ready( () => {
            ask_for_data(socket, #{device_id}, '#{measurement_id}');
            setInterval(ask_for_data, 5000, socket, #{device_id}, '#{measurement_id}');
            $('#datetimepicker1').datetimepicker({
                locale: 'en-gb',
                format: 'YYYY/MM/DD HH:mm',
                showTodayButton: true,
                defaultDate: Date.now() - 60000 * 60 * 2,
                showClear: true
                //sideBySide: true
            });

            $('#datetimepicker2').datetimepicker({
                locale: 'en-gb',
                format: 'YYYY/MM/DD HH:mm',
                showTodayButton: true,
                useCurrent: true,
                //defaultDate: Date.now(),
                showClear: true
                //sideBySide: true
            });
        });

    .sensor_info
        h4: b Sensor #{device_id}
        p Location: biuro
    .row
        .col-md-7
            ul(class="nav nav-pills")
                +measurement_menu_element("temperature", measurement_id, "Temperature")
                +measurement_menu_element("humidity", measurement_id, "Humidity")
                +measurement_menu_element("voltage", measurement_id, "Voltage")
        .col-md-1
            p Select data range:
        .col-md-2
            .form-group
                .input-group.date#datetimepicker1
                    input(type='text' class="form-control")
                    span(class="input-group-addon")
                        span(class="glyphicon glyphicon-calendar")
        .col-md-2
            .form-group
                .input-group.date#datetimepicker2
                    input(type='text' class="form-control")
                    span(class="input-group-addon")
                        span(class="glyphicon glyphicon-calendar")
    .row
        .col-md-12
            br
            div(id="graphdiv3" style="width: 100%")
